<form (ngSubmit)="submit()" class="login-form" #form="ngForm">
  <div class="header-container">
    <h1 class="header-title">Informations générales</h1>
    <div class="header-subtitle">Veuillez renseigner vos informations pour continuer</div>
  </div>

  <!-- Région -->
  <label for="region">Région</label>
  <input 
    id="region" 
    type="text" 
    placeholder="Votre région" 
    [(ngModel)]="region" 
    name="region" 
    required 
  />

  <!-- Ville -->
  <label for="ville">Ville</label>
  <input 
    id="ville" 
    type="text" 
    placeholder="Votre ville" 
    [(ngModel)]="ville" 
    name="ville" 
    required 
  />

  <!-- Profil -->
  <label for="profil">Profil</label>
  <input 
    id="profil" 
    type="text" 
    placeholder="Votre profil" 
    [(ngModel)]="profil" 
    name="profil" 
    required 
  />

  <!-- Email -->
  <label for="email">E-mail</label>
  <input 
    id="email" 
    type="email" 
    placeholder="Votre adresse mail" 
    [(ngModel)]="email" 
    name="email" 
    required 
    email
  />

  <button type="submit" class="login-button" [disabled]="form.invalid">Continuer</button>
</form>
