<form class="login-form">
  <div class="header-container">
    <h1 class="header-title">Validation email</h1>
    <p class="header-subtitle">Veuillez entrer le code reçu</p>
  </div>

  <div class="otp-inputs">
    <input maxlength="1" type="text" inputmode="numeric" />
    <input maxlength="1" type="text" inputmode="numeric" />
    <input maxlength="1" type="text" inputmode="numeric" />
    <input maxlength="1" type="text" inputmode="numeric" />
    <input maxlength="1" type="text" inputmode="numeric" />
    <input maxlength="1" type="text" inputmode="numeric" />
  </div>

  <button type="button" class="submit-btn">
  Valider
</button>

  <p class="resend-link">
    📨 <a href="#">Renvoyez mon code</a>
  </p>
</form>
