<ion-header> 
  <ion-toolbar class="toolbar-custom">
    <div class="icon-container">
      <div class="notification-icon" (click)="goToNotifications()">
        <img src="assets/icon/notif.png" alt="Notification" class="custom-icon" />
        <span class="badge"></span>
      </div>
      <div class="icon-circle" (click)="goToCart()">
        <img src="assets/icon/panier.png" alt="Panier" class="custom-icon" />
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<!-- Texte de bienvenue -->
<div class="welcome-text">
  <h1>Bienvenue, Adriana</h1>
  <p>
    <ion-icon name="location-outline"></ion-icon>
    Yaoundé centre
  </p>
</div>

<!-- Barre de recherche -->
<div class="search-card">
  <ion-input placeholder="Rechercher des produits..."
             [(ngModel)]="searchQuery"
             clearInput
             class="search-input"
             type="search"
             debounce="300"
             autocomplete="off">
  </ion-input>
  <button class="btn-search" aria-label="Rechercher" (click)="onSearch()">
    <img src="assets/icon/search.png" alt="Recherche" class="custom-icon" />
  </button>
</div>

<!-- Catégories -->
<section class="categories-section">
  <div class="categories-header">
    <h2>Catégories</h2>
    <a class="see-all" (click)="onSeeAll()">Tout voir</a>
  </div>

  <div class="categories-scroll">
    <button class="category-button"
            [class.selected]="selectedCategory === cat"
            *ngFor="let cat of categories"
            (click)="filterByCategory(cat)">
      {{ cat }}
    </button>
  </div>
</section>

<!-- Produits -->
<section class="produits-section">
  <div class="produits-grid">
    <div class="produit-card" *ngFor="let produit of filteredProduits">
      <div class="image-container">
        <img [src]="produit.image_url" alt="{{ produit.nom }}" />

        <!-- Bouton Favoris avec Font Awesome -->
        <button class="btn-fav" (click)="toggleFavorite(produit.id)">
          <i class="{{ isFavorite(produit.id) ? 'fas fa-heart' : 'far fa-heart' }}" style="color: red;"></i>
        </button>
      </div>

      <div class="details">
        <h3>{{ produit.nom }}</h3>
        <p *ngIf="produit.stock">Stock : {{ produit.stock }}kg</p>
        <p class="prix">{{ produit.prix | number }} FCFA/kg</p>
      </div>

      <button (click)="addToCart(produit)">
        <img src="assets/icon/panier.png" alt="Panier" />
      </button>
    </div>
  </div>
</section>
