<form class="login-form  ">
  <div class="header-container">
   
  <h1 class="header-title">Réinstalisation</h1>
  <div class="header-subtitle">Entrez votre nouveau mot de passe et confirmez</div>
</div>
  <label for="password"></label>
  <input id="password" type="password" placeholder="Nouveau mot de passe" [(ngModel)]="password" name="password" />
  <label for="password"></label>
  <input id="password" type="password" placeholder="Confirmez votre Nouveau ot de passe" [(ngModel)]="password" name="password" />


  <button type="submit" class="login-button">Envoyer</button>
</form>
